.imgc {
  width: 100%;
}

.fixed {
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
}

.btnc {
  width: 90%;
  text-align: start;
}

.mar {
  margin-top: 1em;
  margin-right: 22.5em;
}

.marSp {
  margin-top: 4em;
}

.paypict {
  width: 100px;
  height: 30px;
}

.btnbuy {
  width: 100%;
}

.buy {
  margin-top: 3em;
}

.redText {
  color: red;
}

.linkB {
  color: black;
}
