.imgc {
  width: 100%;
}

.fixed {
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
}

.btnc {
  width: 90%;
  text-align: start;
}

.mar {
  margin-top: 1em;
  margin-right: 22.5em;
}

.marSp {
  margin-top: 8em;
}
