.carousel-inner img {
  width: 100vw;
  height: 100vh;
}

.caption {
  transform: translateY(-70vh);
  font-size: 2em;
  border: 0.05em white solid;
}

.iconBook {
  font-size: 10.71em;
  display: flex;
  justify-content: flex-end;
}

.iconBook div {
  border: 0.05em solid black;
  padding: 0.84em 0.54em;
}

.iconBook div p {
  display: flex;
  justify-content: center;
}

.iconList {
  font-size: 10.71em;
  display: flex;
  justify-content: flex-start;
}

.iconList div {
  border: 0.05em black solid;
  padding: 0.5em 1em;
}

#menage {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1em;
}

#order {
  font-size: 2rem;
  font-weight: 700;
}

.blc {
  color: black;
}
