#myaccountbtn {
  background-color: #f3f3f3; /* Green */
  border: 1px solid #555555;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#myaccountbtn:hover {
  background-color: #2b2b2b;
  color: white;
}

#signout {
  padding-top: 15px;
  font-size: 12px;
}
.dropdown-menu {
  font-size: 12px !important;
  background: #f3f3f3;
}
